.navbar{
    width: 100vmax;
    height: 5vmin;
    background: #444;
    position: relative;
    bottom: 0;
    line-height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > * {
    margin: 0 1vmin;
}